Flask>=2.0.0
Flask-SQLAlchemy
Flask-Login
Flask-Bcrypt
Flask-Admin
Flask-Limiter
sqlalchemy<2.0>=1.4
cryptography
scikit-learn
litellm
openai
langchain
langchain_openai
langchain_anthropic
langchain_google_genai
python-dotenv
requests
transformers
huggingface_hub
pygments
plotly
pandas
