Flask>=2.0.0
Flask-SQLAlchemy
Flask-Login
Flask-Bcrypt
Flask-Admin
Flask-Limiter
SQLAlchemy<2.0,>=1.4
cryptography
scikit-learn
openai
langchain
python-dotenv
requests
pygments
plotly
pandas
anthropic
google-generativeai
